<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/favicon.jpg" type="image/jpg">
    <link rel="stylesheet" href="../styles/index.css">
    <title>Overthinker's Haven</title>
</head>

<body>
    <!-- Cover Page Section -->
    <div class="cover-page">
        <div class="content">
            <h1>Welcome to Overthinker's Haven</h1>
            <p>Store your thoughts without hesitation!</p>
            <a href="/display" class="btn">View Blogs</a>
        </div>
    </div>
</body>

</html>
